#regions-menu{
    padding: 8px 8px;
    direction: rtl;
    font-size: 16px;
    background-color: rgba(181, 180, 180, 0.137);
    border-radius: 8px;
    margin-right: 4px;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
}